body {
  background-color: #282c34;
}

.app {
  text-align: center;
}

.app-header {
  background-color: #282c34;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.app-content, 
.email-checker {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.app-link {
  color: #61dafb;
}

h1 {
  animation: 3s infinite alternate zoom;
}

.email-checker h5 {
  margin-bottom: 0;
}

@keyframes zoom {
  from {
    font-size: 100%;
  }

  to {
    font-size: 300%;
  }
}
